.shelfie {
  height: 1000vh;
  width: 100vw;
}

header {
  height: 10vh;
  width: 100vw;
  background-color: #AB2A19;
  display: flex;
  align-items: center;
  color: white;
  padding-left: 100px;
  font-size: 30px;
}
.main {
  height: 990vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dashboard {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 100px;

}

.product {
  height: 300px;
  width: 600px;
  background-color: #D34735;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 6px;
  margin: 10px auto;
  font-size: 12px;
}

img {
  height: 100px;
  width: 130px;
}

.form {
  height: 600px;
  width: 600px;
  background-color: #3ad886;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  margin-top: 110px;
}

input {
  width: 90%;
}